<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LAUNDRY"
        tools:targetApi="31">
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".dialog_hubungi"
            android:exported="false" />
        <activity
            android:name=".dialog_metode_pembayaran_laporan"
            android:exported="false" />
        <activity
            android:name=".activity_tambah_cabang"
            android:exported="false" />
        <activity
            android:name=".activity_data_cabang"
            android:exported="false" />
        <activity
            android:name=".pembayaran"
            android:exported="false" />
        <activity
            android:name=".konfirmasi_data"
            android:exported="false" />
        <activity
            android:name=".activity_pilihtambahan"
            android:exported="false" />
        <activity
            android:name=".activity_tambah_tambahan"
            android:exported="false" />
        <activity
            android:name=".data_tambahan"
            android:exported="false" />
        <activity
            android:name=".Activity_pilihlayanan"
            android:exported="false" />
        <activity
            android:name=".Activity_pilihpelanggan"
            android:exported="false" />
        <activity
            android:name=".Activity_laporan"
            android:exported="false" />
        <activity
            android:name=".Activity_transaksi"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".tambah_layanan"
            android:exported="false" />
        <activity
            android:name=".data_layanan"
            android:exported="false" />
        <activity
            android:name=".tambah_pegawai"
            android:exported="false" />
        <activity
            android:name=".data_pegawai"
            android:exported="false" />
        <activity
            android:name=".pelanggan.TambahPelanggan"
            android:exported="false" />
        <activity
            android:name=".activity_tambahan_pelanggan"
            android:exported="false" />
        <activity
            android:name=".pelanggan.DataPelanggan"
            android:exported="false" />
        <activity
            android:name=".activity_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>